@media (max-width 1440px), (max-height 800px)
  .game__sloterra
    width 470px
    right -140px

@media (max-width 1024px)
  .game__sloterra
    width 400px
    right -100px

@media (max-width 835px)
  .game__logo
    &-link
      width 200px

  .game__main
    width 620px
    height 660px
    margin-bottom -130px

    &-inner
      gap 20px 50px
      width 400px
      height 420px

    &-button
      width 100px
      height 100px

@media (max-width 768px)
  .game__sloterra
    width 320px
    right -100px

@media (max-width 630px)
  .game__main
    width 100%
    height 100vw
    margin-bottom -15%

    &-inner
      gap 15px 10px
      width 94vw
      height 54%
      margin-top 19%
      padding-bottom 0

    &-button
      width 25%
      height 30%
      margin-top -5px

  .game__partners
    &-link
      width 80px

    &-img
      width 100%

  .game__sloterra
    width 240px
    right -80px

@media (max-width 450px)
  .game__logo
    &-link
      width 150px

@media (max-height 500px)
  .game__sloterra
    width 250px
    right -60px